#
# SPDX-FileCopyrightText: 2025 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#

### IDEs ###
*.iml
.idea
.vscode/
**/.vscode/
WARP.md

### DIRENV ###
.envrc

### OS specific ###
*.swp

### Docker ###
.DS_store

### Node ###
node_modules/
**/node_modules/

### Application Specific ###
.env
.env.local.frontend
.turbo/
*.pem
*.srl
openzaak-database-data
office-add-in/docker-metadata.json
office-backend/docker-metadata.json

### BUILD ###
generated/
**/generated/
build/
**/build/
dist/
**/dist/

### Python ###
__pycache__/
**/__pycache__/
*.egg-info/
**/*.egg-info/
.venv/

### Testing ###
coverage/
**/coverage/
